/*----- variables ----- */

// ==colorVariables==
$mainColor: #fff;
$secondColor: #000;
$textColor: #787A80;
$linkColor: #9A9CA5;
$accent: #FF5A30;
// ==colorVariables==

// ==fontVariables==
$fontSize: 16px;
$fontFamily: 'Ubuntu-Regular',
sans-serif;
// ==fontVariables==